body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.lanzamientos-section {
    background: #735DC9;
    padding: 50px 0;
    text-align: center;
    color: white;
}

.lanzamientos-section h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.lanzamientos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.h2 {
    color: white; 
    margin-bottom: 30px;
}