.card {
    width: 180px;
    background: #000000bb;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    transition: transform .25s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.cover {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.info {
    margin-top: 10px;
}

.info h3 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.info p {
    margin: 2px 0 0;
    font-size: 12px;
    opacity: .8;
}