.eventos-carousel {
    position: relative;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* difuminado */
.slide-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(25px);
    transform: scale(1.1);
    z-index: 1;
    pointer-events: none;
    transition: opacity .5s ease-in-out; /* transicion*/
    opacity: 1;
}

.bg-fade-out {
    opacity: 0;
}

.bg-fade-in {
    opacity: 1;
}

/* imagen principal */
.carousel-slide {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.slide-img {
    width: 280px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: opacity .5s ease-in-out;/* transicion*/
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}


.slide-img:hover {
    transform: scale(1.03);
}

/* Botones */
.carousel-btn {
    position: absolute;
    z-index: 3;
    background: none;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.left-btn {
    left: 30px;
}

.right-btn {
    right: 30px;
}

.carousel-btn img {
    width: 70px;
    opacity: 0.9;
    transition: transform .2s, opacity .2s;
}

.carousel-btn img:hover {
    opacity: 1;
    transform: scale(1.15);
}
