.main-footer {
    background-color: #F8D62C;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
}

/* Difuminado superior, pero no me salio, hay que arreglarlo */
.fade-top {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, #F8D62C00, #F8D62C);
}

.nombre {
    color: #735DC9;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.social img {
    width: 40px;
    height: 40px;
    margin: 0 12px;
    cursor: pointer;
    transition: transform .2s;
}

.social img:hover {
    transform: scale(1.15);
}
